<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>858875155718-4t8vjt0dref3n2c5r03bndaur3i1jbg8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.858875155718-4t8vjt0dref3n2c5r03bndaur3i1jbg8</string>
	<key>API_KEY</key>
	<string>AIzaSyCWK7Wpe819VL-Iisr2oa_3Zq-LbqAm9pU</string>
	<key>GCM_SENDER_ID</key>
	<string>858875155718</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cheezbit.weclean</string>
	<key>PROJECT_ID</key>
	<string>weclean-4af67</string>
	<key>STORAGE_BUCKET</key>
	<string>weclean-4af67.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:858875155718:ios:ba1dc530f81dab2cdeba87</string>
	<key>DATABASE_URL</key>
	<string>https://weclean-4af67.firebaseio.com</string>
</dict>
</plist>